/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
    background: var(--mikado-yellow);
    padding-block: 10px;
    height: clamp(60px, 10vw, 88px);
    overflow: hidden;
    transition: 0.25s var(--cubic-out);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header.active {
    height: 435px;
    transition-duration: 0.35s;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white-1);
    font-size: var(--fs-2);
    font-weight: var(--fw-600);
}

.nav-toggle-btn.active .open,
.nav-toggle-btn .close {
    display: none;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
    display: block;
}

.nav-toggle-btn ion-icon {
    color: var(--white-1);
    font-size: 35px;
    --ionicon-stroke-width: 40px;
}

.navbar {
    width: 100%;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.header.active .navbar {
    opacity: 1;
    visibility: visible;
}

.navbar-list {
    margin-bottom: 15px;
}

.navbar-link {
    color: var(--white-1);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding-block: 10px 0;
    border-bottom: 2px solid transparent;
    width: max-content;
}

.navbar-link:is(:hover, :focus) {
    border-color: var(--white-1);
}

.navbar-list {
    gap: 25px;
}


@media (min-width: 992px) {
    /**
   * HEADER
   */
    .nav-toggle-btn {
        display: none;
    }
    .header,
    .header.active {
        height: unset;
    }
    .navbar {
        all: unset;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .navbar-list {
        margin-bottom: 0;
        margin-inline: auto;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .navbar-link {
        font-weight: var(--fw-700);
        margin-bottom: 8px;
    }
}